* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lato;
    font-style: normal;
}

button {
    padding: 0;
    font: inherit;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: none;
}

/* MAIN WRAPPER */

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

/* PORTFOLIO */

.portfolio {
    padding-top: 60px;
    padding-bottom: 67px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }

  .portfolio__title {
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #666d89;
  }

  .portfolio__text {
    margin-top: 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
  }
  
  .portfolio__tags {
    margin-top: 17px;
  }
  
  .portfolio__tag {
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #666D89;
    color: #767e9e;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 7px;
    padding: 4px 7px;
  }
  
  .portfolio__tag:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
  }

  .portfolio__tag_selected {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: default;
  }
  
  .portfolio__pictures {
    margin-top: 17px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .portfolio__picture {
    margin-bottom: 20px;
  }
  
  .portfolio__picture:last-child {
    margin-bottom: 0;
  }

  /* ABOUT US */

  .about-us {
    padding-top: 59px;
    padding-bottom: 67px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
  }

  .about-us__info {
      margin-bottom: 55px;
  }

  .about-us__title {
    font-weight: 900;
    font-size: 29.6188px;
    line-height: 18px;
    color: #666d89;
  }

  .about-us__text {
    margin-top: 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
  }

  .about-us__employees {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .about-us__employee {
    width: 300px;
  }
  
  .about-us__emp-title {
    margin-top: 17px;
    font-weight: 900;
    font-size: 17.7713px;
    line-height: 18px;
    color: #666d89;
  }
  
  .about-us__emp-text {
    margin-top: 13px;
    font-weight: normal;
    font-size: 12px;
    color: #767e9e;
  }

  .about-us__social-icons {
    margin-top: 27px;
    padding-left: 1px;
  }
  
  .about-us__icon {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 1px solid #666D89;
    box-sizing: border-box;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4px;
  }

  .about-us__icon:hover {
    opacity: 0.5;
  }
  
  .about-us__icon_facebook {
    background-image: url("assets/images/facebook.svg");
  }
  
  .about-us__icon_google-plus {
    background-image: url("assets/images/google-plus.svg");
  }
  
  .about-us__icon_twitter {
    background-image: url("assets/images/twitter.svg");
  }
  
  .about-us__icon_linkedin {
    background-image: url("assets/images/linkedin.svg");
  }