* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lato;
    font-style: normal;
}

/* MAIN WRAPPER */

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

/* HEADER */

.header {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__wrapper-indent {
    padding: 41px 0 33px;
}

/* LOGO */

.logo {
    font-weight: bold;
    font-size: 24px;   
    line-height: 6px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.logo span {
    color: #f06c64;
}

/* NAVIGATION */

.nav {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.nav__item {
    position: relative;
}

.nav__item-indent {
    padding-left: 26px;
}

.nav__item:after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: -16px;
}

.nav__item:last-child:after {
    display: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__link_active,
.nav__link:hover {
    color: #f06c64;
}

/* CAROUSEL */

.carousel {
    height: 600px;
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.carousel__wrapper {
    position: relative;
}

.carousel__list {
    display: flex;
}

.carousel__vertical {
    padding: 53px 0 0 72px;
}

.carousel__horizontal {
    padding: 174px 0 0 73px;

}

.carousel__item {
    position: absolute;
    top: 52%;
    cursor: pointer;
}

.carousel__item_left {
    left: 2px;
}

.carousel__item_right {
    right: 0;
}

.carousel__object {
    display: inline-block;
    width: 16px;
    height: 27px;
}

.carousel__object_left {
    background-image: url("assets/images/carousel/left.png");
}

.carousel__object_right {
    background-image: url("assets/images/carousel/right.png");
}
.carousel__object_right:hover,
.carousel__object_left:hover {
    opacity: 0.5;
}

/* SERVICES */

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff
}

.services__wrapper {
    padding: 70px 0 8px;
}

.services__title {
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
}

.services__title-main {
    font-size: 29px;
    padding-bottom: 24px;
    letter-spacing: 1px;
}

.services__title-specification {
    font-size: 18px;
    padding-bottom: 9px;
}

.services__text {
    color: #767e9e;
    text-align: justify;
}

.services__text-main {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.services__text-small {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list-indent {
    padding-top: 46px;
}

.services__content {
    width: 299px;
    padding-left: 79px;
    overflow: hidden;
    position: relative;
}

.services__content-indent {
    margin-bottom: 30px;
    padding-right: 15px;
}

.services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 2px;
    left: 1px;
}

/* MOBILE */

@media screen and (max-width: 560px) {
    .nav {
        display: none;
    }

    .services__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 1024px) {
    .carousel {
        display: none;
    }
}
