* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Lato;
    font-style: normal;
}

/* MAIN WRAPPER */

.wrapper {
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 40px;
}

/* HEADER */

.header {
    background-color: #2d303a;
    border-bottom: solid 6px #323746;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header__wrapper-indent {
    padding: 41px 0 33px;
}

/* LOGO */

.logo {
    font-weight: bold;
    font-size: 24px;   
    line-height: 6px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.logo span {
    color: #f06c64;
}

/* NAVIGATION */

.nav {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.nav__item {
    position: relative;
}

.nav__item-indent {
    padding-left: 26px;
}

.nav__item:after {
    content: "";
    background-color: #434759;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    right: -16px;
}

.nav__item:last-child:after {
    display: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__link-active,
.nav__link:hover {
    color: #f06c64;
}

/* CAROUSEL */

.carousel {
    background-color: #f06c64;
    border-bottom: solid 6px #ea676b;
}

.carousel__wrapper {
    position: relative;
    padding-bottom: 55px;
}

.carousel__item {
    display: flex;
    height: 539px;
}

.carousel__item-hidden {
    display: none;
}

.mobile__vertical {
    padding: 53px 0 0 72px;
}

.mobile__horizontal {
    padding: 174px 0 0 73px;
}

.mobile__vertical-shadow {
    position: absolute;
    top: 53px;
    left: 72px;
    z-index: 1;
}

.mobile__vertical-body {
    position: absolute;
    top: 53px;
    left: 72px;
    z-index: 2;
}

.mobile__vertical-display {
    position: absolute;
    top: 118px;
    left: 86px;
    z-index: 3;
}

.mobile__horizontal-shadow {
    position: absolute;
    top: 174px;
    right: 72px;
    z-index: 1;
}

.mobile__horizontal-body {
    position: absolute;
    top: 174px;
    right: 97px;
    z-index: 2;
}

.mobile__horizontal-display {
    position: absolute;
    top: 188px;
    right: 162px;
    z-index: 3;
}

.mobile__slide-another {
    width: 940px;
}

.carousel__display-hidden {
    display: none;
}

.carousel__element {
    position: absolute;
    top: 281px;
    cursor: pointer;
}

.carousel__element-left {
    left: 2px;
}

.carousel__element-right {
    right: 0;
}

.carousel__object {
    display: inline-block;
    width: 16px;
    height: 27px;
}

.carousel__object-left {
    background-image: url("assets/images/carousel/left.png");
}

.carousel__object-right {
    background-image: url("assets/images/carousel/right.png");
}
.carousel__object-right:hover,
.carousel__object-left:hover {
    opacity: 0.5;
}

/* SERVICES */

.services {
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff
}

.services__wrapper {
    padding: 70px 0 8px;
}

.services__title {
    font-weight: 900;
    line-height: 18px;
    color: #666d89;
}

.services__title-main {
    font-size: 29px;
    padding-bottom: 24px;
    letter-spacing: 1px;
}

.services__title-specification {
    font-size: 18px;
    padding-bottom: 9px;
}

.services__text {
    color: #767e9e;
    text-align: justify;
}

.services__text-main {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.services__text-small {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list-indent {
    padding-top: 46px;
}

.services__content {
    width: 299px;
    padding-left: 79px;
    overflow: hidden;
    position: relative;
}

.services__content-indent {
    margin-bottom: 30px;
    padding-right: 15px;
}

.services__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 59px;
    height: 59px;
    position: absolute;
    top: 2px;
    left: 1px;
}

/* PORTFOLIO */

.portfolio {
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
  }

.portfilio__wrapper {
  padding-top: 70px;
  padding-bottom: 67px;
}

.portfolio__info {
    padding-bottom: 10px;
}

.portfolio__title {
  font-weight: 900;
  font-size: 29px;
  line-height: 18px;
  color: #666d89;
  letter-spacing: 1px;
}

.portfolio__title-indent {
    padding-bottom: 25px;
}

.portfolio__text {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    letter-spacing: -0.2px;
}

.portfolio__tags {
    display: inline-block;
}

.portfolio__tag {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-weight: normal;
    font-size: 12px;
    border: 1px solid #666D89;
    color: #767e9e;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 2px 6px;
}

.portfolio__tag-indent {
    margin-right: 7px;
}

.portfolio__tag:hover {
    color: #c5c5c5;
    border-color: #c5c5c5;
}

.portfolio__tag-selected {
    color: #c5c5c5;
    border-color: #c5c5c5;
    cursor: default;
}

.portfolio__pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 621px;
    overflow: hidden;
}

.portfolio__picture-indent {
    padding-top: 20px;
}

.portfolio__item {
    padding-bottom: 17px;
}

.portfolio__picture-ordered {
    order: -1;
}

.portfolio__picture-selected {
    border: 5px solid #F06C64;
}

/* ABOUT US */

.about-us {
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.about-us__wrapper {
    padding-top: 69px;
}

.about-us__title {
    font-weight: 900;
    color: #666d89;
    letter-spacing: 1px;
}

.about-us__title-main {
    padding-bottom: 26px;
    font-size: 29px;
    line-height: 18px;
}

.about-us__title-employee {
    padding-top: 14px;
    font-size: 17px;
    line-height: 18px;
}

.about-us__text {
    color: #767e9e;
    text-align: justify;
}

.about-us__text-main {  
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.about-us__text-employee {
    padding-top: 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.about-us__employees {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-us__employees-indent {
    padding-top: 46px;
}

.about-us__employee {
    width: 300px;
    padding-bottom: 62px;
}

.about-us__social-icons {
    padding-top: 24px;
}

.about-us__icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    border: 1px solid #666D89;
    box-sizing: border-box;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4px;
}

.about-us__icon:hover {
    opacity: 0.5;
}

.about-us__icon-facebook {
    background-image: url("assets/images/social-icons/facebook.svg");
}

.about-us__icon-google-plus {
    background-image: url("assets/images/social-icons/google-plus.svg");
}

.about-us__icon-twitter {
    background-image: url("assets/images/social-icons/twitter.svg");
}

.about-us__icon-linkedin {
    background-image: url("assets/images/social-icons/linkedin.svg");
}

/* CONTACT */

.contact {
    background-color: #F06C64;
    border-bottom: 6px solid #EA676B;;
}

.contact__wrapper {
    padding-top: 68px;
    padding-bottom: 18px;
}

.contact__quote {
    color: #F0D8D9;
}

.contact__title {
    font-weight: 900;
    line-height: 18px;
    letter-spacing: 1px;
}

.contact__title-main {
    font-size: 29px;
    padding-bottom: 26px;
}

.contact__title-subtitle {
    font-size: 17px;
    padding-bottom: 10px;
}

.contact__text {  
    text-align: justify;
}

.contact__text-big {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
}

.contact__text-small {
    font-size: 12px;
    line-height: 22px;
    padding-bottom: 22px;
}

/* FORM ACTION */

.contact__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact__action{
    width: 620px;
}

.contact__action-indent,
.contact__info-indent {
    padding-top: 45px;
}

.contact__object {
    width: 100%;
    padding: 5px 14px 5px;
    border: none;
    border-radius: 5px;
    background-color: #d6564f;
    color: #ffffff;
    min-width: 295px;
}

.contact__object-input {
    height: 40px;
    margin-bottom: 14px;
}

.contact__object-textarea {
    height: 205px;
    margin-bottom: 14px;
}

.contact__object::placeholder {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #F48C8F;
}

.contact__object:focus {
    background-color: #ffffff;
    color: #000000;
}

.contact__object:focus::placeholder {
    color: #000000;
}

.contact__button {
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #f48c8f;
    background-color: #d6564f;
}

.contact__button:hover {
    color: #000000;
    background-color: #ffffff;
}

/* FORM INFO */

.contact__info {
    width: 300px;
    color: #F0D8D9;
}

.contact__data {
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    text-align: justify;
    padding-left: 18px;
}

.contact__data a,
.contact__data span {
    padding-left: 5px;
    text-decoration: none;
    color: #F0D8D9;
}

.contact__detail-place {
    list-style-image: url("assets/images/contact-icons/location.png");
    margin-left: -1px;
}

.contact__detail-mobile {
    list-style-image: url("assets/images/contact-icons/mobile.png");
    margin-left: 1px;
}

.contact__detail-mail {
    list-style-image: url("assets/images/contact-icons/mail.png");
    margin-left: 2px;
}

/* FOOTER */

.footer {
    background-color: #2D303A;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.footer__wrapper-indent {
    padding: 20px 0px;
}

.footer__copyright {
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
}

.footer__icon {
    display: inline-block;
    width: 33px;
    height: 33px;
    border: 1px solid #666D89;
    box-sizing: border-box;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: 4px;
}

.footer__icon:hover {
    opacity: 0.5;
}
  
.footer__icon-facebook {
    background-image: url("assets/images/social-icons/facebook.svg");
}
  
.footer__icon-google-plus {
    background-image: url("assets/images/social-icons/google-plus.svg");
}
  
.footer__icon-twitter {
    background-image: url("assets/images/social-icons/twitter.svg");
}
  
.footer__icon-linkedin {
    background-image: url("assets/images/social-icons/linkedin.svg");
}

/* TABS */

@media screen and (max-width: 768px) {
    
    .carousel__item {
        height: 458px;
    }

    .carousel__wrapper {
        padding-bottom: 23px;
    }

    .carousel__element {
        top: 242px;
    }

    .mobile__vertical-shadow {
        width: 201px;
        left: 45px;
    }

    .mobile__vertical-body {
        top: 53px;
        left: 45px;
        width: 180px;
    }

    .mobile__vertical-display {
        width: 157px;
        top: 107px;
        left: 57px;
    }

    .mobile__horizontal-shadow {
        width: 366px;
        right: 45px;
    }

    .mobile__horizontal-body {
        width: 344px;
        right: 45px;
    }

    .mobile__horizontal-display {
        width: 250px;
        top: 184px;
        right: 94px;
    }

    .mobile__slide-another {
        width: 690px;
        height: 450px;
    }

    .portfolio__pictures {
        height: 828px;
    }

    .about-us__employee {
        width: 219px;
    }

    .about-us__photo {
        width: 218px;
    }

    .contact__action {
        width: 442px;
    }

    .contact__info {
        width: 221px;
    }
}